:root {
  --kinectic_black: #232333;
  --frame_color: #f0f0f0;
  --title_text_color: #242424;
  --accent-text: #666676;
  --link_color: #07b7ea;
  --white: #ffffff;
  --black: #000000;
  --kinect-transparent: rgba(35, 35, 51, 0.2);
  --kinect-blue:#07B7EA;
  --err-color:#ff0000;
}
